<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">DashBoard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <ng-container *ngFor="let item of breadcrumbItems">
                        <li class="breadcrumb-item active">{{item.label}}</li>
                    </ng-container>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-3" *ngFor="let item of statisticsWidgets">
        <div class="card">
            <div class="card-body">
                <div>
                    <span class="text-muted text-uppercase fs-12 fw-bold">{{item.title}}</span>
                    <h3 *ngIf="!isNaN(item.stats)">{{item.stats | number}}</h3>
                    <h3 *ngIf="isNaN(item.stats)">{{item.stats}}</h3>
                    <ngb-progressbar [type]="item.variant ? item.variant : 'primary'" [value]="item.progress!" height="5px" class="my-2">
                    </ngb-progressbar>
                    <span class="text-muted fw-semibold">{{item.subTitle}}</span>
                </div>
            </div>
        </div>
    </div>
</div>